:root {
  --scroller-gap: 64px;
  --scroller-width: 550px;
  --scroller-speed: 20s;
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  height: 100dvh;

  color: #dce3e0;
  font-size: 16px;
  font-family: "Gilroy", sans-serif;
  font-weight: 400;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: currentColor;
}

p,
ul,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  list-style: none;
}
